USE [master]
GO
/****** Object:  Database [BDFUNC]    Script Date: 03/06/2022 14:36:57 ******/
CREATE DATABASE [BDFUNC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDFUNC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDFUNC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDFUNC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDFUNC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDFUNC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDFUNC]
GO
/****** Object:  Table [dbo].[funcionario]    Script Date: 03/06/2022 14:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nchar](80) NOT NULL,
	[sobrenome] [nchar](80) NOT NULL,
	[email] [nchar](80) NOT NULL,
	[telefone] [nchar](12) NULL,
	[lider] [nchar](1) NOT NULL,
	[matricula_lider] [int] NULL,
	[nome_lider] [nchar](80) NULL,
	[senha] [nchar](100) NOT NULL,
 CONSTRAINT [PK_funcionario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO


GO
INSERT INTO [BDFUNC].[dbo].[funcionario] VALUES ('Caio','Silva','carlos@gmail.com','41999999999','S',0,'','a123');
INSERT INTO [BDFUNC].[dbo].[funcionario] VALUES ('Jonas','Oliveira','jonas@gmail.com','41234899843','N',1,'Caio','a123')
INSERT INTO [BDFUNC].[dbo].[funcionario] VALUES ('João','Fagundes','joao@gmail.com','41134512124','N',0,'','a123')
